.header{
  width: 100%;
  padding: 1rem 0;
  background-color: transparent;
  position: relative;
  z-index: 999;
}

.header__navigation-items{
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  column-gap: 1.25rem;
  text-align: center;
}

.header__navigation-item:hover{
  transform: scale(1.1);
}

.header__navigation-item-link{
  padding: 0.3125rem;
  color: var(--font-color-white);
  background: linear-gradient(to right, transparent, transparent),linear-gradient(to right, red, yellow, green);
  background-size: 100% 0.1875rem, 0 0.1875rem;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.header__navigation-item-link:hover{
  background-size: 0 0.1875rem, 100% 0.1875rem;
}

@media (max-width: 768px){
  .header__navigation{
    padding: 1rem 0;
    width: 100%;
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
  }
  .header__navigation-items{
    flex-direction: column;
    row-gap: 1rem;
  }
  .header__navigation-item-link{
    color: var(--font-color-black);
    background: none;
  }
}